/backend.Tests/bin
/.idea
/backend.Tests/obj
/backend/.idea
/backend/bin
/backend/obj
backend/output/hello_validated_20260201_085806.docx
backend/output/test_validated_20260130_023857.zip
backend/output/test_validated_20260131_190122.docx
backend/output/test_validated_20260201_085634.docx
backend/output/test_validated_20260130_023857/\[Content_Types].xml
backend/output/test_validated_20260130_023857/hello.docx
backend/output/test_validated_20260130_023857/_rels/.rels
backend/output/test_validated_20260130_023857/customXml/item1.xml
backend/output/test_validated_20260130_023857/customXml/item2.xml
backend/output/test_validated_20260130_023857/customXml/item3.xml
backend/output/test_validated_20260130_023857/customXml/item4.xml
backend/output/test_validated_20260130_023857/customXml/itemProps1.xml
backend/output/test_validated_20260130_023857/customXml/itemProps2.xml
backend/output/test_validated_20260130_023857/customXml/itemProps3.xml
backend/output/test_validated_20260130_023857/customXml/itemProps4.xml
backend/output/test_validated_20260130_023857/customXml/_rels/item1.xml.rels
backend/output/test_validated_20260130_023857/customXml/_rels/item2.xml.rels
backend/output/test_validated_20260130_023857/customXml/_rels/item3.xml.rels
backend/output/test_validated_20260130_023857/customXml/_rels/item4.xml.rels
backend/output/test_validated_20260130_023857/docProps/app.xml
backend/output/test_validated_20260130_023857/docProps/core.xml
backend/output/test_validated_20260130_023857/docProps/custom.xml
backend/output/test_validated_20260130_023857/hello/\[Content_Types].xml
backend/output/test_validated_20260130_023857/hello/_rels/.rels
backend/output/test_validated_20260130_023857/hello/customXml/item1.xml
backend/output/test_validated_20260130_023857/hello/customXml/itemProps1.xml
backend/output/test_validated_20260130_023857/hello/customXml/_rels/item1.xml.rels
backend/output/test_validated_20260130_023857/hello/docProps/app.xml
backend/output/test_validated_20260130_023857/hello/docProps/core.xml
backend/output/test_validated_20260130_023857/hello/word/document.xml
backend/output/test_validated_20260130_023857/hello/word/fontTable.xml
backend/output/test_validated_20260130_023857/hello/word/settings.xml
backend/output/test_validated_20260130_023857/hello/word/styles.xml
backend/output/test_validated_20260130_023857/hello/word/webSettings.xml
backend/output/test_validated_20260130_023857/hello/word/_rels/document.xml.rels
backend/output/test_validated_20260130_023857/hello/word/theme/theme1.xml
backend/output/test_validated_20260130_023857/word/comments.xml
backend/output/test_validated_20260130_023857/word/document.xml
backend/output/test_validated_20260130_023857/word/endnotes.xml
backend/output/test_validated_20260130_023857/word/fontTable.xml
backend/output/test_validated_20260130_023857/word/footer1.xml
backend/output/test_validated_20260130_023857/word/footnotes.xml
backend/output/test_validated_20260130_023857/word/numbering.xml
backend/output/test_validated_20260130_023857/word/settings.xml
backend/output/test_validated_20260130_023857/word/styles.xml
backend/output/test_validated_20260130_023857/word/webSettings.xml
backend/output/test_validated_20260130_023857/word/_rels/document.xml.rels
backend/output/test_validated_20260130_023857/word/glossary/document.xml
backend/output/test_validated_20260130_023857/word/glossary/fontTable.xml
backend/output/test_validated_20260130_023857/word/glossary/settings.xml
backend/output/test_validated_20260130_023857/word/glossary/styles.xml
backend/output/test_validated_20260130_023857/word/glossary/webSettings.xml
backend/output/test_validated_20260130_023857/word/glossary/_rels/document.xml.rels
backend/output/test_validated_20260130_023857/word/media/image1.png
backend/output/test_validated_20260130_023857/word/media/image2.png
backend/output/test_validated_20260130_023857/word/media/image3.png
backend/output/test_validated_20260130_023857/word/theme/theme1.xml
backend/output/hello.docx
